@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

#container {
    display: flex;
    justify-content: space-around;
}

.sideNote {
    padding: 1em;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 33vw;
    background-color: #49432A;
    border: 2px #312700 solid;
}

.isHidden {
    display: none;
}

#noteArea ,
#noteTitle {
    font-family: 'Indie Flower', cursive;
    background-color: #ffE072;
    margin: 1em;
    color: black;
    border-radius: 15px;
    padding: 0.5em;   
}

/* #noteTitle {
    background-color: #ffE072;
    margin: 1em;
    color: black;
    border-radius: 25px;
} */
